 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">TaeYeon x MinYoung</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">TaeYeon's Page</h1>
                <hr>
                <p>We will talk about him, Kim the general king GOD Tae Yeon genius</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Who da fook is that guy? :-)</h2>
                    <hr class="light">
                    <p class="text-faded">태연이를 알아보러 가볼까요 ?</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Access me!</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="https://www.instagram.com/ty__xkim/"><img src="http://www.dogdrip.net/files/attach/dvs/16/05/12/78/092/402/097/fec430c43f79a0e8c0198396bfb8fb02.jpg" border="0" width="100" height="85"></a>
                        <h3>ty__xkim stagram</h3>
                        <p class="text-muted">If you wanna come to my stargram, click this Icon!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                         <a href="https://www.facebook.com/profile.php?id=100004668912336"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgtVjY-SCZWZE2aFcFNtxk0rbQPju2EdkpZ7AW9T2GDUzv5oITXg" border="0" width="70" height="70"></a>
                        <h3>Fooking awesome my Facebook</h3>
                        <p class="text-muted">IF you wanna know more about me, plz this.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                       <a href="http://www.seoultech.ac.kr/"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSits7gbxQqu7grxVoUuHZ0mwaUm8E-fAUW-_l-tGeV5Cd6e30k" border="0" width="85" height="85"></a>
                        <h3>My university</h3>
                        <p class="text-muted">Seoul tech</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>First, Last love affair</h3>
                        <p class="text-muted">Thax to my lover Min-young</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17630065_824043951094561_8366035740911880882_n.jpg?oh=f201adea70bb0abdef8a50d3142f5929&oe=59620015" class="portfolio-box">
                        <img src="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17630065_824043951094561_8366035740911880882_n.jpg?oh=f201adea70bb0abdef8a50d3142f5929&oe=59620015" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Vans X Openingceremony
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17554402_824048554427434_2253401105778706968_n.jpg?oh=a01daefbea41e58a6b5f8c6bfe81dd70&oe=5967192C" class="portfolio-box">
                        <img src="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17554402_824048554427434_2253401105778706968_n.jpg?oh=a01daefbea41e58a6b5f8c6bfe81dd70&oe=5967192C" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    TaeYeon X MinYoung
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17554345_824048551094101_6218218917602075500_n.jpg?oh=e5a7e32caa7771892bed1a4105b126e5&oe=59527CEE" class="portfolio-box">
                        <img src="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17554345_824048551094101_6218218917602075500_n.jpg?oh=e5a7e32caa7771892bed1a4105b126e5&oe=59527CEE" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    SUPER Moon X TY__kim
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17457424_824048544427435_4979043786748391352_n.jpg?oh=28622493f254de756ac280ff26296c40&oe=59657F65" class="portfolio-box">
                        <img src="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17457424_824048544427435_4979043786748391352_n.jpg?oh=28622493f254de756ac280ff26296c40&oe=59657F65" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    M.Y__Kim X T.Y__Kim
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17499585_824051977760425_8513561408436416572_n.jpg?oh=6e2b56061d66d3c50714366b7f4682a3&oe=599A218E" class="portfolio-box">
                        <img src="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17499585_824051977760425_8513561408436416572_n.jpg?oh=6e2b56061d66d3c50714366b7f4682a3&oe=599A218E" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    GD X CHANEL
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17554561_824051974427092_4425261866035607461_n.jpg?oh=2b261a07b9954d590688ca138b7c65df&oe=5960DDFC" class="portfolio-box">
                        <img src="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/17554561_824051974427092_4425261866035607461_n.jpg?oh=2b261a07b9954d590688ca138b7c65df&oe=5960DDFC" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    GD X CHANEL
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Forever, You And I</h2>
                
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>010-2070-9739</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">kimksik2@likelion.org</a></p>
                </div>
            </div>
        </div>
    </section>
